:root {
  --accent: #174180;
  --accent-light: #3764a7;
  --pure-white: #fff;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--accent);
}
.container {
  width: auto;
  margin: 0 auto;
  padding: 0 20px;
}
.section-title {
  text-transform: uppercase;
  text-align: center;
}
.header {
  background-color: var(--accent);
}

.header a {
  color: var(--pure-white);
  text-decoration: none;
}
.header-nav {
  min-height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
.header-logo {
  width: 20%;
  height: 15%;
  font-size: 30px;
  font-weight: 800;
  margin-left: 30px;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.header-menu-link {
  padding: 13px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  transition: background-color 0.4s;
}
.header-menu-link:hover {
  background-color: var(--accent-light);
}
.intro-inner {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
}
.intro-img {
  height: 350px;
  border-radius: 10%;
}
.intro {
  padding: 60px 0;
}
.intro-right {
  width: 60%;
}
.intro-right h1 {
  margin: 0 0 10px;
}
h3 {
  margin: 0 0 10px;
}
.section {
  padding: 50px 0;
}
.contacts ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.skills {
  background-color: #174180;
  color: #fff;
}
.skills li {
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: #3764a7;
  border-radius: 4px;
}
.contacts {
  margin-bottom: 60px;
}
.skills ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.title-skills {
  text-align: center;
}
.code-example {
  text-align: center;
  margin: 0;
}
.code-example p {
  font-style: italic;
}
.code-example b {
  font-style: normal;
}
.code-example pre {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: #174180;
  color: #fff;
  font-size: 1em;
  border-radius: 8px;
}
.portfolio {
  background-color: var(--accent);
}
.portfolio-title {
  margin-bottom: 2em;
  color: var(--pure-white);
}
.portfolio ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}
.portfolio li {
  border-radius: 10px;
  background-color: var(--pure-white);
  text-align: center;
  padding-bottom: 15px;
  overflow: hidden;
  margin: 0 auto;
}
.portfolio img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.portfolio ul a {
  display: inline-block;
  padding: 10px 30px;
  color: var(--pure-white);
  text-decoration: none;
  background-color: var(--accent);
  border-radius: 4px;
  transform: all 0.3s;
}
.education li {
  border-radius: 10px;
  background-color: var(--pure-white);
  text-align: center;
  padding-bottom: 15px;
  overflow: hidden;
  margin: 0 auto;
}
.languages {
  background-color: #174180;
  color: #fff;
}
.languages ul {
  margin-left: 40%;
}
.footer-p {
  text-align: center;
  font-size: 20px;
}
.footer-p a {
  text-decoration: none;
  color: #174180;
}

@media (max-width: 768px) {
  .header-nav ul {
    display: none;
  }
  .media-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* code {
    color: black;
    margin-left: 300px;
  } */
  .code-example pre {
    width: 100%;
    margin: 0 30px 0 0;
    /* text-align: center; */
    background-color: #a0a5ad;
    color: rgb(0, 0, 0);
    font-size: 10px;
    border-radius: 8px;
  }

  .fa-bars {
    font-size: 30px;
  }
  .skills li {
    text-transform: uppercase;
    padding: 5px 5px;
    background-color: #3764a7;
    border-radius: 4px;
    margin: 0 5px 0 5px;
  }
}
@media (max-width: 471px) {
}
@media (min-width: 769px) {
  .fa-bars {
    display: none;
  }
  button {
    display: none;
  }
}

@media (max-width: 418px) {
  .container {
    max-width: 100%;
  }
}
